NSEC3 settings for .tld generate warning in DNSviz

DNSviz: "The salt value for an NSEC3 record should be empty.  See RFC 9276, Sec. 3.1."

fixed: nsec3-salt-length: 8  -> nsec3-salt-length: 0 in knot-fakeroot and knot-signer